@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap");

.Cart {
  min-height: 150vh;
}

.cart-header {
  margin-top: 5%;
}

.cart-row {
  margin-top: 15%;
  justify-content: space-between;
}

.cart-row h1 {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

.cart-details {
  margin-top: 5%;
  justify-content: space-between;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.cart-details img {
  width: 70px;
  height: 45px;
}

.cart-details p {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.cart-details h2 {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  color: #fe316f;
}

.cart-card {
  margin-top: 22%;
  min-height: 60vh;
  border: 2px solid #d3d3d3;
  padding: 20px;
  border-radius: 10px;
}

.cart-card h1 {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

.cart-card h2 {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
}

.cart-input {
  height: 40px !important;
  border-radius: 5px !important;
  width: 300px !important;
}

.coupon-code {
  margin-bottom: 25px;
}

.coupon-btn {
  height: 40px !important;
  background: #fe316f !important;
  color: #fff !important;
}

.check-btn {
  height: 40px !important;
  background: #fe316f !important;
  color: #fff !important;
  width: 100% !important;
  margin-top: 10px;
}

.review-card {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 20px;
  min-height: 30vh;
  box-shadow: 0px 0px 5px 0px #d3d3d3;
  width: 60%;
}

.review-card p {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.review h1 {
  font-family: "Lexend", sans-serif;
  font-size: 20px;
}

.support {
  margin-top: 10px;
  justify-content: space-evenly;
}

.support img {
  width: 70px;
  height: 70px;
}

.progress {
  margin-top: 10%;
}

.progress-message {
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  justify-content: center;
  margin-top: 5px;
}

/* Checkout */

.checkout-info {
  margin-top: 40px;
  display: flex;
  border: 1px solid #d3d3d3;
  justify-content: center;
  padding: 5px;
  background: #dfdfec;
  height: 6.5vh;
}

.checkout-info h2 {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 17px;
  cursor: pointer;
}

.checkout-row {
  margin-top: 5%;
}

.checkout-row h1 {
  font-family: "Lexend", sans-serif;
}

.checkout-input {
  height: 40px !important;
  border-radius: 5px !important;
}

.checkout-input-p {
  height: 40px !important;
  border-radius: 5px !important;
  width: 300px !important;
}

.checkout-row span {
  font-weight: 300;
}

.company-attach {
  display: flex;
  margin-bottom: 15px;
}

.company-attach h2 {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.checkout-input-q {
  height: 40px !important;
  border-radius: 5px !important;
  width: 195px !important;
}

.checkout-btn {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  font-family: "Lexend", sans-serif;
}

.checkout-pricing {
  background: #ebe9e9;
  margin-bottom: 20px;
  padding: 20px;
}

.checkout-pricing img {
  width: 70px;
  height: 70px;
}

.checkout-combine {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkout-pricing h2 {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

.checkout-single h1 {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
}

.hr-h3 {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.checkout-hr {
  color: #d3d3d3;
  margin-bottom: 10px;
}

.shipping-row {
  justify-content: space-between;
}

.shipping-row p {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.shipping-tots {
  justify-content: space-between;
  margin-top: 20px;
}

.shipping-tots h2 {
  font-family: "Lexend", sans-serif;
}

/* Checkout */
