@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap");

.Profile {
  min-height: 140vh;
}

.breadcrumbs-p {
  margin-left: 5%;
  margin-top: 5%;
}

.breadcrumbs-p h1 {
  font-size: 30px;
  margin-top: 3%;
  font-family: "Lexend", sans-serif;
}

.profile-sidebar {
  margin-left: 5%;
  margin-top: 2%;
}

.profile-sidebar h2 {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.profile-header {
  font-family: "Lexend", sans-serif;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 30px;
}

.account-card {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 30px;
  min-height: 80vh;
  margin-left: 12%;
  margin-right: 12%;
  box-shadow: 0px 0px 5px 0px #d3d3d3;
  margin-top: -20%;
}

.sub-header {
  font-family: "Lexend", sans-serif;
}

.details-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.details-row p {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.form-combine {
  display: flex;
}

.profile-form label {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

.small-text {
  margin-top: -20px;
  font-size: 9px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
