@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");

.breadcrumbs {
  margin-top: 15%;
  margin-bottom: 30px;
}

.main-crumb {
  color: #029967;
  font-size: 13px;
  font-weight: 500;
}

.ant-breadcrumb-link {
  font-size: 13px;
  font-weight: 400;
}

.middle-header h1 {
  font-size: 55px;
  font-family: "Fraunces", serif;
  margin-bottom: 30px;
}

.featured-products {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

.feature-title {
  width: 100px;
  font-size: 13px;
  opacity: 0.9;
  cursor: pointer;
}

.feature-box:hover .feature-image img {
  border: 1px solid #029967;
}

.feature-box:hover .feature-title {
  text-decoration: underline;
}

.feature-image {
  margin-bottom: 10px;
}

.feature-box img {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.feature-box .feature-image img {
  width: 60px;
  height: 60px;
}

.shop-hr {
  height: 10px;
  background-color: #2a2a2a;
  margin-bottom: 40px;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.sorting span {
  margin-right: 5px;
  font-size: 13.5px;
}

.ant-select-selection-item {
  font-weight: 600 !important;
}

.filter-btn {
  color: #fff;
  background-color: #029967;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  padding: 7px 16px;
  display: flex;
  width: 100px;
  height: 35px;
}

.filter-btn span {
  font-family: "Lexend", sans-serif;
}

.filter-btn:hover {
  background-color: #2a2a2a;
  transition: all 0.5s;
  transition: 0.9s;
  animation: ease-in;
}

.span-result {
  border-left: 2px solid #d3d3d3;
}

.shop-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.product-card {
  border-right: 1px solid #d3d3d3;
  margin-right: 20px;
  min-width: 210px;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 10px;
  height: 40vh;
}

.product-card:hover,
.product-card:nth-child(5n):hover {
  border: 1px solid #029967;
  border-radius: 10px;
  padding: 10px;
}

.product-card .rating img {
  width: 60px;
  transform: scale(1.2);
}

.product-card:nth-child(5n) {
  border: none;
}

.product-card .card-header h2 {
  font-family: "Lexend", sans-serif;
  font-size: 12px;
}

.product-card .card-header img {
  width: 35px;
  height: 35px;
  transform: scale(1.1);
}

.card-img img {
  width: 180px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-footer .product-price p {
  text-decoration: line-through;
  color: #fe316f;
  font-size: 13px;
}

.card-footer .product-price span {
  font-size: 18px;
}

.product-card:hover .hover-back {
  border: 1px solid #3df8a7;
  width: 30%;
  border-radius: 100%;
  padding: 5px;
  background: #3df8a7;
}

.product-card:hover .hover-icon {
  color: #fff;
}

.hover-icon {
  margin-left: 8px !important;
  margin-top: 10px;
  font-size: 27px;
  color: #6de7b2;
}
