@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap");
.productDetail {
  min-height: 100vh;
}

.detail-title {
  display: flex;
  justify-content: space-between;
}

.detail-header {
  margin-bottom: 20px;
}

.detail-hr {
  color: #f7f7ff;
  margin-bottom: 20px;
}

.detail-title h1 {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-size: 32px;
  width: 70%;
}

.detail-title img {
  width: 35px;
  height: 35px;
  transform: scale(1.1);
}

.detail-cross {
  text-decoration: line-through;
  color: #fe316f;
}

.detail-price {
  margin-bottom: 20px;
}

.detail-quantity {
  width: 40%;
}

.detail-input {
  width: 60%;
  height: 35px;
  border: none;
  padding: 20px;
  font-weight: bold;
}

.detail-input:hover {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.detail-row {
  margin-bottom: 170px;
}

.notify-btn {
  padding: 10px;
  width: 20%;
  border-radius: 30px;
  border: none;
  background-color: rgb(39, 217, 39);
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #454545;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-bottom: 30px;
}

.notify-btn:hover {
  box-shadow: inset 250px 0 0 0 #454545;
}

.detail-btn {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: #029967;
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #454545;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.detail-btn:hover {
  box-shadow: inset 510px 0 0 0 #454545;
}

.description {
  min-height: 30vh;
  background: linear-gradient(to bottom, #fff, #add8e6);
}

.description-row {
  text-align: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 40px;
}

.carousel .thumb.selected {
  border: 1px solid#029967 !important;
  border-radius: 10px;
}

.carousel .thumb {
  border: 1px solid #d3d3d3 !important;
  border-radius: 10px;
  cursor: pointer;
}

.carousel .thumb:hover {
  border: 1px solid #d3d3d3 !important;
  border-radius: 10px;
}

.description-review {
  color: #029967;
  cursor: pointer;
}

.description-review:hover {
  color: black;
}

.description-detail {
  margin-left: 15%;
  margin-right: 15%;
}

.description-detail p {
  font-size: 15px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 25px;
}
